body {
    margin-left: 10px;
}

#container {
    display: grid;
    height: 960px;
    width: 960px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

#square {
    border: 1px solid black;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}